@import url(https://fonts.googleapis.com/css?family=Lato);

*{
    font-family: 'Lato', sans-serif;
}

body{
    max-height:100vh;
    background-image: url('map-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

#catDrop {
    max-height: 250px;
    overflow-y: auto;
}

#searchBtn {
    background-color: #d43f3a;
    color:#fff;
}

.normal-view {
    padding-bottom: 2em;
}

#home {
    text-align: center;

}

#formBtn {
    padding-top: 1em;
}

.panel {
    text-align:center;
}

#home>div>h1 {
    color:#d43f3a;
}

.panel-title {
    font-weight: bold;
}

.business-description-small {
    height: 100px;
}

.panel-body>img, business>img {
    max-width: 768px;
    width: 100%;
}

#disclaimer {
    font-style: italic;
    color:#d43f3a;
}

.removeSelect{
    display: inline;
    float:right;
}

#selected1, #selected2 {
    display:inline;
}

#selectionBtnGrp {
    margin-bottom:1em;
}

.sm-logo {
    max-width:350px;
    padding-top:0.6em;
}

#back {
    margin-bottom: 2em;
}

#footer {
    text-align: center;
}

#strtPic {
    width:200px;
}

.panel-title {
    padding-top:0.3em;
}

.tech {
    padding-bottom:1em;
}

.tech > img {
    width:100%;
}
